* {
box-sizing: border-box;
padding: 0;
margin: 0;
}

body {
    background-color: beige;
}

.hero {
    background-image: url(../images/me&mckay.png);
    background-size: cover;
    min-height: 40vh;
    background-position: center;
}

.header {
    padding: 15px;
    text-align: 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: orange;
    color: white;
}

.header h1 {
    display: inline-block;
    font-size: 40px;
    padding: 20px;
}

.header nav {
    float: right;
    padding-top: 35px;
    margin-right: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}


.container{
    flex-wrap: wrap;
    position: relative;
    text-align: center;
    border: 10px solid orange;
    margin-left: 200px;
    margin-right: 35px;
}

.bottom-left{
    position: absolute;
    bottom: 24px;
    left: 0px;
    background-color: orange;
}

.project{
    min-height: 100px;
}

.project img{
    display: block;
    height: 30vh;
    width: 100%;
    object-fit: fill;
}
/* .container div {
    flex: 1;
} */

.contact-me{
    background-color: orange;
    color: white;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contact-me h3{
    display: inline-block;
    font-size: 30px;
    padding: 20px;
}

.footer nav {
    float: right;
    padding-top: 35px;
    margin-right: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.contact-me ul {
    list-style-type: none;
}

.contact-me ul li {
    display: inline-block;
    margin-left: 25px;
}
